# {{ title }}

{% set tests = data.tests %}

* Trigger: {{ tests.trigger }} {% if action_url %}[Github Action]({{ action_url }}){% endif %}
* Testbed: {{ tests.testbed_instance }} {{ tests.testbed_name }}
* Start - End: {{ tests.time_start }} - {{ tests.time_end }}
* Repo Firmware: {{ tests.ref_firmware2.markdown }}
* Repo Tests: {{ tests.ref_tests2.markdown }}
* Logoutput: [{{ tests.log_output }}]({{ tests.log_output }})
{% if tests.error %}
* Error: {{ tests.error }}
{% endif %}

## Summary

| Test | Groups<br>run | Groups<br>skipped | Groups<br>error | Tests<br>passed | Tests<br>skipped | Tests<br>failed |
| - | :-: | :-: | :-: | :-: | :-: | :-: |
| .. | .. | .. | .. | .. | .. |
{%- for line in data.summary %}
| {{ line.testgroup_markdown(tests) }} | {{ line.group_run }} | {{ line.group_skipped }} | **{{ line.group_error }}** | {{ line.tests_passed }} | {{ line.tests_skipped }} | **{{ line.tests_failed }}** |
{%- endfor %}

## Tests which failed

| Testgroup (testid) | Test | Logfile |
| - | - | - |
{%- for testgroup in data.testgroups_ordered %}
    {%- for result in testgroup.results_failed %}
| {{ testgroup.testgroup_markdown(tests, testid=True) }} | {{ result.name_markdown(tests) }} | [logfile]({{ testgroup.log_output }}) |
    {%- endfor %}
{%- endfor %}

## Testsgroups which could not run due to an error

| Testgroup (testid) | Logfile | Error |
| - | - | - |
{%- for testgroup in data.testgroups_ordered %}
    {%- if testgroup.msg_error %}
| {{ testgroup.testgroup_markdown(tests, testid=True) }} | [logfile]({{ testgroup.log_output }}) | ```{{ testgroup.msg_error }}``` |
    {%- endif %}
{%- endfor %}
