# {{ title|md_escape }}

{% set tests = data.tests %}

* Trigger: {{ tests.trigger|md_escape }} {% if action_url %}[Github Action]({{ action_url|md_escape }}){% endif %}
* Testbed: {{ tests.testbed_instance|md_escape }} {{ tests.testbed_name|md_escape }}
* Start - End: {{ tests.time_start|md_escape }} - {{ tests.time_end|md_escape }}
* Repo Firmware: {{ tests.ref_firmware2.markdown }} {{ tests.ref_firmware_describe }}
* Repo Tests: {{ tests.ref_tests2.markdown }} {{ tests.ref_tests_describe }}
* Logoutput: [{{ tests.log_output|fix_links|md_escape }}]({{ tests.log_output|fix_links|md_escape }})
{% if tests.error %}
* Error: {{ tests.error }}
{% endif %}

## Summary

| Test | Groups<br>run | Groups<br>skipped | Groups<br>error | Tests<br>passed | Tests<br>skipped | Tests<br>failed |
| - | :-: | :-: | :-: | :-: | :-: | :-: |
{%- for line in data.summary %}
| {{ line.label }} | {{ line.group_run|hidezero }} | {{ line.group_skipped|hidezero }} | {{ line.group_error|hidezerobold }} | {{ line.tests_passed|hidezero }} | {{ line.tests_skipped|hidezero }} | {{ line.tests_failed|hidezerobold }} |
{%- endfor %}

## Tests which failed

| Testgroup (testid) | Test | Logfile |
| - | - | - |
{%- for testgroup in data.testgroups_ordered %}
    {%- for result in testgroup.results_failed %}
| {{ testgroup.testgroup_markdown(tests, testid=True) }} | {{ result.name_markdown(tests) }} | [logfile]({{ testgroup.log_output|fix_links|md_escape }}) |
    {%- endfor %}
{%- endfor %}

## Testsgroups which could not run due to an error

| Testgroup (testid) | Logfile | Error |
| - | - | - |
{%- for testgroup in data.testgroups_ordered %}
    {%- if testgroup.msg_error %}
| {{ testgroup.testgroup_markdown(tests, testid=True) }} | [logfile]({{ testgroup.log_output|fix_links|md_escape }}) | ```{{ testgroup.msg_error|fix_links }}``` |
    {%- endif %}
{%- endfor %}

## Testsgroups which where skipped

| Testgroup (testid) | Logfile | Skip Reason |
| - | - | - |
{%- for testgroup in data.testgroups_ordered %}
    {%- if testgroup.msg_skipped %}
| {{ testgroup.testgroup_markdown(tests, testid=True) }} | [logfile]({{ testgroup.log_output|fix_links|md_escape }}) | ```{{ testgroup.msg_skipped|fix_links }}``` |
    {%- endif %}
{%- endfor %}
