**/__pycache__/
schematics_kicad/kicad/testbed-backups/*
docs/_build/**
testresults/**
testresults_*/**
results_*/**
git_cache/**
downloads/**
*.log
testbed.lock
**/*\ copy.py
**/*\ copy\ [0-9]*.py
src/testbed_micropython/mpbuild/tests/results/*.txt
src/testbed_micropython/mpbuild/docker-build-micropython-esp32/esp-idf
src/testbed/experiments/*
testresults*/**
src/testbed_micropython/mpstress/testresults/
src/testbed_micropython/mpstress/c/mpremote_c
