**/__pycache__/
schematics_kicad/kicad/testbed-backups/*
docs/_build/**
results/**
results_*/**
git_cache/**
downloads/**
*.log
testbed.lock
src/testbed/mpbuild/tests/results/*.txt
**/*\ copy.py
**/*\ copy\ [0-9]*.py
