**/__pycache__/
schematics_kicad/kicad/testbed-backups/*
docs/_build/**
results/**
results_*/**
git_cache/**
downloads/**
*.log
testbed.lock
**/*\ copy.py
**/*\ copy\ [0-9]*.py
src/testbed/mpbuild/tests/results/*.txt
src/testbed/experiments/*
src/testbed/mpbuild/docker-build-micropython-esp32/esp-idf
