### {{ title|md_escape }}

{% set result_context = data.result_context %}

{{ result_context.pr_marker }}

* Duration: {{ result_context.time_duration_text }}, {{ data.tests_total }} tests run, {{ data.duration_per_test_text|md_escape }}
* Tested ports: {{ data.ports_md }}
* [Summary Report {{ result_context.worflow_job_number }}]({{ result_context.summary_report|fix_links|md_escape }}), [Logdirectory]({{ result_context.log_directory|fix_links|md_escape }})

| Test | Tests<br>passed | Tests<br>skipped | Tests<br>xfailed | Tests<br>failed |
| - | :-: | :-: | :-: | :-: |
{%- for line in data.summary %}
| {{ line.label }} | {{ line.tests_passed|hidezero }} | {{ line.tests_skipped|hidezero }} | {{ line.tests_xfailed|hidezero }} | {{ line.tests_failed_link|hidezerobold }} |
{%- endfor %}


<details open>
<summary>Failures</summary>

{%- for summary_by_test in data.summary_by_test %}

<a name="{{ summary_by_test.group_anchor }}"></a>
### Group: {{ summary_by_test.testgroup.testgroup_markdown(result_context=result_context) }}


{% if summary_by_test.tentacle_reference -%}
Reference: {{ summary_by_test.tentacle_reference|md_escape }}
{%- endif %}


{# Table header -#}
{{ summary_by_test.table_header_markup }}
{#- Table delimter #}
{{ summary_by_test.table_delimiter_markup -}}
  {#- Loop for each test -#}
  {%- for outcomes_for_one_test in summary_by_test -%}
    {#- Test name on the very left column #}
|   {{ outcomes_for_one_test.test_name_link_markup(result_context=result_context) -}}
    {%- for outcome_column in summary_by_test.outcome_columns_sorted -%}
      {#- Column with FAIL/PASS/FLAKY -#}
|     {{ outcomes_for_one_test.outcome_link(outcome_column, fix_links, data.xfail_files) }}
    {%- endfor -%}
|
  {%- endfor %}

{%- endfor %}

</details>