# {{ title|md_escape }}

{% set result_context = data.result_context %}

{{ result_context.pr_marker }}

* Duration: {{ result_context.time_duration_text }} {{ data.duration_per_test_text|md_escape }}

* Summary Report: [{{ result_context.summary_report|fix_links|md_escape }}]({{ result_context.summary_report|fix_links|md_escape }})
* Logdirectory: [{{ result_context.log_directory|fix_links|md_escape }}]({{ result_context.log_directory|fix_links|md_escape }})

## Summary

| Test | Groups<br>run | Groups<br>skipped | Groups<br>retried | Tests<br>passed | Tests<br>skipped | Tests<br>xfailed | Tests<br>failed |
| - | :-: | :-: | :-: | :-: | :-: | :-: | :-: |
{%- for line in data.summary %}
| {{ line.label }} | {{ line.group_run|hidezero }} | {{ line.group_skipped|hidezero }} | {{ line.group_error|hidezero }} | {{ line.tests_passed|hidezero }} | {{ line.tests_skipped|hidezero }} | {{ line.tests_xfailed|hidezero }} | {{ line.tests_failed|hidezerobold }} |
{%- endfor %}
