# {{ title|md_escape }}

{% set result_context = data.result_context %}

* Trigger: {{ result_context.trigger|md_escape }} {% if action_url %}[Github Action]({{ action_url|md_escape }}){% endif %}
* Testbed: {{ result_context.testbed_instance|md_escape }} {{ result_context.testbed_name|md_escape }}
* Start - End: {{ result_context.time_start|md_escape }} - {{ result_context.time_end|md_escape }}
* Repo Firmware: {{ result_context.ref_firmware2.markdown }} {% if result_context.ref_firmware_metadata %} [{{ result_context.ref_firmware_metadata.commit_comment }}]({{ result_context.ref_firmware_metadata.url_commit_hash }}) {% endif %}
{% if result_context.ref_firmware_metadata %}

  ```
{{ result_context.ref_firmware_metadata.command_log.stdout|indent2|md_escape }}
  ```

{% endif %}
* Repo Tests: {{ result_context.ref_tests2.markdown }} {% if result_context.ref_tests_metadata %} [{{ result_context.ref_tests_metadata.commit_comment }}]({{ result_context.ref_tests_metadata.url_commit_hash }}) {% endif %}
{% if result_context.ref_tests_metadata %}

  ```
{{ result_context.ref_tests_metadata.command_log.stdout|indent2|md_escape }}
  ```

{% endif %}
* Logdirectory: [{{ result_context.log_directory|fix_links|md_escape }}]({{ result_context.log_directory|fix_links|md_escape }})
* Logoutput: [{{ result_context.log_output|fix_links|md_escape }}]({{ result_context.log_output|fix_links|md_escape }})
{% if result_context.error %}
* **Error: {{ result_context.error }}**
{% endif %}

## Summary

| Test | Groups<br>run | Groups<br>skipped | Groups<br>error | Tests<br>passed | Tests<br>skipped | Tests<br>failed |
| - | :-: | :-: | :-: | :-: | :-: | :-: |
{%- for line in data.summary %}
| {{ line.label }} | {{ line.group_run|hidezero }} | {{ line.group_skipped|hidezero }} | {{ line.group_error|hidezerobold }} | {{ line.tests_passed|hidezero }} | {{ line.tests_skipped|hidezero }} | {{ line.tests_failed|hidezerobold }} |
{%- endfor %}

## Failures

{%- for summary_by_test in data.summary_by_test %}
### Group: {{ summary_by_test.testgroup.testgroup_markdown(result_context=result_context) }}

{% if summary_by_test.tentacle_reference -%}
Reference: {{ summary_by_test.tentacle_reference|md_escape }}
{%- endif %}


{# Table header -#}
{{ summary_by_test.table_header_markup }}
{#- Table delimter #}
{{ summary_by_test.table_delimiter_markup -}}
  {#- Loop for each test -#}
  {%- for outcomes_for_one_test in summary_by_test -%}
    {#- Test name on the very left column #}
|   {{ outcomes_for_one_test.test_name_link_markup(result_context=result_context) -}}
    {%- for outcome_column in summary_by_test.outcome_columns_sorted -%}
      {#- Column with FAIL/PASS/FLAKY -#}
|     {{ outcomes_for_one_test.outcome_link(outcome_column, fix_links) }}
    {%- endfor -%}
|
  {%- endfor %}

{%- endfor %}

{#
## Tests which failed

| Testgroup (testid) | Test | Logfile |
| - | - | - |
{%- for testgroup in data.testgroups_ordered %}
    {%- for result in testgroup.results_failed %}
| {{ testgroup.testgroup_markdown(result_context, testid=True) }} | {{ result.name_markdown(result_context) }} | [logfile]({{ testgroup.log_output|fix_links|md_escape }}) |
    {%- endfor %}
{%- endfor %}
#}

## Testsgroups which could not run due to an error

| Testgroup (testid) | Logfile | Error |
| - | - | - |
{%- for testgroup in data.testgroups_ordered %}
    {%- if testgroup.msg_error %}
| {{ testgroup.testgroup_markdown(result_context, testid=True) }} | [logfile]({{ testgroup.log_output|fix_links|md_escape }}) | ```{{ testgroup.msg_error|fix_links }}``` |
    {%- endif %}
{%- endfor %}

## Testsgroups which where skipped

| Testgroup (testid) | Logfile | Skip Reason |
| - | - | - |
{%- for testgroup in data.testgroups_ordered %}
    {%- if testgroup.msg_skipped %}
| {{ testgroup.testgroup_markdown(result_context, testid=True) }} | [logfile]({{ testgroup.log_output|fix_links|md_escape }}) | ```{{ testgroup.msg_skipped|fix_links }}``` |
    {%- endif %}
{%- endfor %}
